.weather-section {
	padding: 0.5rem;
	display: flex;
	flex-grow: 1;
	align-items: center;
}

.weather-section__img {
	height: var(--font-size-xl);
	padding-right: 0.5rem;
	flex-grow: 1;
}

.weather-section__text {
	font-size: var(--font-size-l);
	text-transform: capitalize;
	flex-grow: 2;
	text-align: center;
}

.weather-section--grow {
	flex-grow: 2;
	flex-wrap: wrap;
}

.weather-section__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.weather-section__main-temp {
	font-size: var(--font-size-xxl);
	font-weight: 100;
}

.weather-section__aside-temp {
	font-size: var(--font-size-s);
	padding: 0.5rem 0;
}

.weather-section__aside-temp--border-top {
	border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.max-min-temp-wrapper p:last-of-type {
	border-top: 1px solid rgba(255, 255, 255, 0.4);
}

@media (min-width: 450px) {
	.weather-section {
		justify-content: center;
	}

	.weather-section__img {
		flex-grow: 0;
		padding-right: 2rem;
	}

	.weather-section__text {
		flex-grow: 0;
	}
}

@media (min-width: 640px) {
	.weather-section__main-temp {
		font-size: calc(var(--font-size-xxl) * 1.5);
	}

	.weather-section__aside-temp {
		font-size: var(--font-size-m);
	}
}
