.details-section {
	display: flex;
	flex-grow: 1;
	align-items: center;
	margin: 1rem 1rem 0 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.details-section__img {
	height: var(--font-size-m);
	margin-right: 1.5rem;
}

.details-section__item {
	display: flex;
	align-items: center;
	width: 100%;
}

.details-section__title {
	font-size: var(--font-size-s);
	font-weight: 100;
	padding-right: 2rem;
	text-transform: capitalize;
}

.details-section__value {
	font-weight: 700;
	flex-grow: 1;
	text-align: end;
	padding-right: 1rem;
	font-size: var(--font-size-s);
}

@media (min-width: 640px) {
	.details-section__img {
		height: var(--font-size-sl);
		margin-right: 2.5rem;
	}

	.details-section__title {
		font-size: var(--font-size-sm);
	}

	.details-section__value {
		font-size: var(--font-size-sm);
	}
}
