.search {
	display: flex;
	padding: 0.5rem;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.search__input {
	width: 85%;
	height: 2rem;
	border-width: 1px;
	border-style: solid;
	border-color: inherit;
	border-radius: 0.5rem;
	background-color: transparent;
	color: inherit;
	outline: none;
	padding: 0 1rem;
	transition: 0.3s;
}

::placeholder {
	color: inherit;
}

.search__input:focus {
	box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.3);
}

.search__btn {
	width: 10%;
	height: 2rem;
	margin-left: 5%;
	font-size: var(--font-size-s);
	background-color: transparent;
	border: none;
	color: inherit;
	outline: none;
	cursor: pointer;
}

@media (min-width: 450px) {
	.search__input {
		width: 75%;
	}
}

@media (min-width: 640px) {
	.search__input {
		width: 60%;
		height: 2.5rem;
		font-size: var(--font-size-s);
	}

	.search__btn {
		font-size: var(--font-size-m);
	}
}
