.header__container {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.header__city-name {
	font-size: var(--font-size-m);
	margin-bottom: 0.2rem;
}

.header__date {
	text-transform: capitalize;
	font-size: var(--font-size-s);
}

@media (min-width: 640px) {
	.header {
		margin-top: 4rem;
	}

	.header__city-name {
		font-size: var(--font-size-m);
	}

	.header__date {
		font-size: var(--font-size-s);
	}
}
