.header__container {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 0.5rem;
}

.header__container--row {
	flex-direction: row;
	justify-content: center;
}

.header__city-name {
	font-size: var(--font-size-m);
	margin-bottom: 0.2rem;
	padding-left: 1rem;
}

.header__add-button {
	display: flex;
	justify-items: center;
	align-items: center;
}

.add-button__icon {
	padding-left: 1rem;
	font-size: var(--font-size-xs);
}

.header__date {
	text-transform: capitalize;
	font-size: var(--font-size-s);
}

@media (min-width: 640px) {
	.header {
		margin-top: 4rem;
	}

	.header__city-name {
		font-size: var(--font-size-m);
	}

	.header__date {
		font-size: var(--font-size-s);
	}
}
