.side-menu__background {
	display: none;
	position: fixed;
	height: 100%;
	width: 100vw;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 2;
}

.side-menu__panel {
	position: fixed;
	height: 100%;
	width: 65vw;
	top: 0;
	left: -65vw;
	padding: 3rem 2rem 2rem 1rem;
	border-radius: 0% 25% 25% 0%;
	transition: 0.3s;
	z-index: 2;
}

.side-menu__close-button {
	position: absolute;
	left: 10%;
	top: 2%;
	cursor: pointer;
}

.side-menu--is-open {
	display: block;
}

.side-menu__panel--is-open {
	left: 0;
}

.side-menu__panel--dark {
	color: white;
	background-color: #111;
}

.side-menu__panel--light {
	color: black;
	background-color: white;
}

.settings {
	position: absolute;
	right: 20%;
	top: 2%;
	cursor: pointer;
}
.settings__icon {
	font-size: var(--font-size-s);
}

@media (min-width: 450px) {
	.side-menu__panel {
		width: 50vw;
	}
}

@media (min-width: 640px) {
	.side-menu__panel {
		width: 35vw;
	}
}
